@import '../../sass/variables.scss';

.navbar {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    min-height: 4rem;
    background-color: $eerie-black;
    color: $baby-powder;
}

.sections-container {
    min-width: 35%;

}

.sections {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.sections a {
    color: var(--baby-powder);
    transition: all .3s linear;

}

.sections a:hover {
    color: $maximum-yellow-red;
    text-decoration: underline;
}