@import '../../sass/variables.scss';

.navbar {
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    min-height: 4rem;
    background-color: $eerie-black;
    color: $baby-powder;
}

.navbar-logo {
    color: $baby-powder;
    transition: all .3s linear;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-logo:hover {
    color: $maximum-yellow-red;
}

.sections-container {
    min-width: 35%;
}

.sections {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.sections a {
    color: var(--baby-powder);
    transition: all .3s linear;
    font-weight: 500;

}

.sections a:hover {
    color: $maximum-yellow-red;
    text-decoration: underline;
}