@import url("http://web.simmons.edu/~grovesd/comm244/notes/week4/reset.css");

html, body{
	min-height: 100vh;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	padding: 1rem;
	border: 1px solid red;
	min-height: 100% ;
	text-align: center;
}